<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FTPUpload.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <FTPUpload.Properties.Settings>
            <setting name="FTPAddress" serializeAs="String">
                <value>ftp://banana.com/pears</value>
            </setting>
            <setting name="FTPUsername" serializeAs="String">
                <value>Username</value>
            </setting>
            <setting name="FTPPassword" serializeAs="String">
                <value>Password</value>
            </setting>
            <setting name="FTPLink" serializeAs="String">
                <value>http://banana.com/pears</value>
            </setting>
        </FTPUpload.Properties.Settings>
    </userSettings>
</configuration>